extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
    h1 Trang chủ
    .section-products-featured.my-5 
        .container.my-3 
            .row 
                .col-12 
                    +box-head("Nổi bật")
        
                +product-grip(productsFeatured)

    .section-products-featured.my-5 
        .container.my-3 
            .row 
                .col-12 
                    +box-head("Mới")
            
                +product-grip(productsNew)
        
        